In [1]:
import pandas as pd
import numpy as np

In [11]:
# La serie permette di indicizzare come vogliamo, omogeneizzando il formato
#In questo esempio, gli indici sono 0 - 3 e il formato è float64
miaserie=pd.Series([4,5,6.5,7])
print(miaserie)
# In questo esempio, indicizzo con dei nomi
miaserie2=pd.Series([4,5,6.5,7],index=['primo','secondo','terzo','quarto'])
print(miaserie2)

#La somma avviene per indice
ser1 = pd.Series([1,2,3],index=['b','a','c'])
ser2 = pd.Series([1,2,3],index=['a','b','d'])
ser1 + ser2

0    4.0
1    5.0
2    6.5
3    7.0
dtype: float64
primo      4.0
secondo    5.0
terzo      6.5
quarto     7.0
dtype: float64

a    3.0
b    3.0
c    NaN
d    NaN
dtype: float64

In [5]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   ....:      'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
print(d)

{'one': a    1.0
b    2.0
c    3.0
dtype: float64, 'two': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64}

In [8]:
# Fondo le due serire nel dictionary, prendendo gli indici come posizione (d non esiste ne primo ma è inserito con NaN)
df = pd.DataFrame(d)

In [9]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [18]:
df['one'] # select by column

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [10]:
df['one']['a']

1.0

In [12]:
df.loc['b'] # select by row label

one    2.0
two    2.0
Name: b, dtype: float64

In [19]:
df.iloc[2] # select by row index

one    3.0
two    3.0
Name: c, dtype: float64

In [16]:
df2=pd.DataFrame(np.random.rand(5,80))
print(df2)
# Così facendo, ho creato una matrice, nella quale posso entrare per riga o per colonna (non fattibile da numpy)
print(df2.iloc[2])
print(df2[2])

         0         1         2         3         4         5         6   \
0  0.773449  0.724680  0.365446  0.489371  0.526906  0.336637  0.944591
1  0.509618  0.784615  0.365525  0.550329  0.518364  0.139717  0.821058
2  0.318705  0.369509  0.492474  0.688138  0.348567  0.318465  0.767968
3  0.938856  0.865133  0.276504  0.115546  0.633573  0.857499  0.148757
4  0.950311  0.179895  0.879043  0.493396  0.990900  0.947071  0.671547

         7         8         9   ...        70        71        72        73  \
0  0.731427  0.931251  0.252023  ...  0.969285  0.058511  0.572969  0.487456
1  0.852041  0.454660  0.642581  ...  0.365150  0.863470  0.249594  0.597929
2  0.605833  0.612462  0.487172  ...  0.673448  0.160153  0.378495  0.561228
3  0.559142  0.480655  0.173164  ...  0.729579  0.357951  0.599062  0.488006
4  0.839142  0.986176  0.054762  ...  0.789734  0.378440  0.642672  0.813164

         74        75        76        77        78        79
0  0.470860  0.178467  0.585557  0.512177  0.766189  0.083764
1  0.249572  0.855137  0.130846  0.628105  0.850350  0.875451
2  0.588078  0.911386  0.480208  0.898455  0.028913  0.981168
3  0.642063  0.256454  0.872026  0.958328  0.336440  0.316048
4  0.957720  0.284661  0.974634  0.676658  0.577110  0.567840

[5 rows x 80 columns]
0     0.318705
1     0.369509
2     0.492474
3     0.688138
4     0.348567
5     0.318465
6     0.767968
7     0.605833
8     0.612462
9     0.487172
10    0.912490
11    0.044250
12    0.682416
13    0.501578
14    0.579261
15    0.567280
16    0.876395
17    0.681637
18    0.646966
19    0.215397
20    0.869653
21    0.718539
22    0.984589
23    0.817562
24    0.244433
25    0.320280
26    0.557302
27    0.277573
28    0.684930
29    0.190264
        ...
50    0.272878
51    0.309910
52    0.978825
53    0.857063
54    0.077961
55    0.864332
56    0.746247
57    0.399532
58    0.941077
59    0.423748
60    0.631576
61    0.210329
62    0.959244
63    0.832626
64    0.188896
65    0.937249
66    0.976781
67    0.705073
68    0.766639
69    0.445956
70    0.673448
71    0.160153
72    0.378495
73    0.561228
74    0.588078
75    0.911386
76    0.480208
77    0.898455
78    0.028913
79    0.981168
Name: 2, Length: 80, dtype: float64
0    0.365446
1    0.365525
2    0.492474
3    0.276504
4    0.879043
Name: 2, dtype: float64

In [19]:
print(df.loc[df['one']>1]) # select row conditional SELECT * FROM DF WHERE ONE > 1
print(df.loc[(df['one']>1) & (df['two']<3)]) # Questa scrittura permette di selezionare le funzioni, con booleani

   one  two
b  2.0  2.0
c  3.0  3.0
   one  two
b  2.0  2.0

In [21]:
print(df[df['one']>1]) # same as before but shorter
print(df[(df['one']>1) & (df['two']<3)])

   one  two
b  2.0  2.0
c  3.0  3.0
   one  two
b  2.0  2.0

In [21]:
df[df['one']>1]['two'] # SELECT TWO FROM DF WHERE ONE > 1

b    2.0
c    3.0
Name: two, dtype: float64

In [22]:
#Transpose
df[:].T

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0